{% extends 'main.html' %}
{% block content %}

<h1>{{ user.display }}</h1>
{% comment %} <p>Following: {{ num_of_fllowers }}</p> {% endcomment %}
<p>Tweets: {{ tweets|length }}</p>

{% if follower|length > 0 %}
    {% if request.user != user and request.user.is_authenticated %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Follow">
    </form>
    {% endif %}
{% else %}
    {% if request.user != user and request.user.is_authenticated %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="submit" value="Unfollow">
    </form>
    {% endif %} 
{% endif %}

{% for tweet in tweets %}
    <p>{{ tweet.date_created }}</p>
    <a href="/tweet/{{ tweet.id }}">
        <p>{{tweet.tweet}}</p>
    </a>
    <a href="/user/{{ tweet.user.username }}">
        <p>{{ tweet.user.display }}</p>
    </a>
    <hr>
{% endfor %}

{% endblock content %}