{% extends 'main.html' %}
{% block content %}
<div class="home">
    <div id="banner">
        <h2>Home</h2>
    </div>
    <div class="tweets">
        {% for tweet in tweets %}
            <div class="nes-container with-title tweet">
                
                    <p class="title">
                        <a href="/user/{{ tweet.user.username }}">
                        @{{ tweet.user.display }}
                        </a>
                    </p>
                
                <a href="/tweet/{{ tweet.id }}" class="nes-text is-success">
                    <p>{{tweet.tweet}}</p>
                </a>
                <p>{{tweet.date_created}}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}